
box
  position: relative
  display: block
  /*margin: 16px */
  padding: 10px 20px
  border: 1px solid #eceef2
  border-radius: 3px
  font-size: 15px
  background: #f7f8fa
  

box:not(.blank)
  padding-top: 40px !important

box title
  position: absolute
  display: block
  top: 10px
  font-size: 18px
  font-weight: 600
  padding-left: 40px !important

box content
  padding-top: 30px
  font-size: 13px

box p
  margin: 5px 0 !important

box.info
  border-color: #d6f1ec
  background: #edf9f6;

box.info:before
  color: #15af90

box.alert
  border-color: #fce4e1
  background: #fff6f5;

box.alert:before
  color: #EE4B34
  font-size: 25px !important

box.icon:before
  position: absolute
  display: block
  content: ''
  width: 30px
  height: 30px
  top: 10px
  left: 25px
  font-family: FontAwesome;
  font-size: 18px
  ine-height: 16px

box.icon-profile:before
  content: '\f007'

box.icon-scenario:before
  content: '\f0a7'

box.icon-forbidden:before
  content: '\f071'
  
  